@CHARSET "ISO-8859-1";

#a {
	background-color: #ffab93
}

#ab {
	background-color: #ffddb0
}

#bb {
	background-color: #fecf81
}

#cl {
	background-color: #a4da9b
}

#ti {
	background-color: #d0c4ec
}

#br {
	background-color: #fbaa9c
}

#cb {
	background-color: #e8ed9b
}

#g {
	background-color: #fecdd7
}

#rb {
	background-color: #b5e5fb}